
/* GENERAL TAGS */

body {
	background: rgb(255, 128, 128);
}



ul {
	list-style: none;
	padding-left: 0px;
}

/* simpleProfileContainer */

#simpleProfileContainer {
	width: 900px;
	height: 200px;
	margin: auto;
	position: relative;
	border-radius: 5px; 
	background: rgb(255, 255, 255);
}

#profilePic {
	
	float: left;
	margin: 20px;

	box-shadow: 1px 1px 2px 1px gray;
}

#simpleProfileContainer h2, h3 {
	margin: 0px;
}

#simpleProfileContainer div {
	display: inline-block;
	vertical-align: top;
}

/* PROFILE TEXT DISPLAY */

#profileText p {
	display: block;
}

#simpleProfileContainer div#profileText, div#profileScoresContainer {
	margin-top: 20px;
	margin-right: 30px;
}

#profileText #profileFullName h2 {
	display: inline-block;
}

/* SCORES DISPLAY */

#profileScoresContainer div {
	display: block;
}

#profileScoresContainer {
	float: right;
	background: rgba(128, 128, 128, 0.2);
	border-radius: 5px;
	padding: 12px;
}

.scoreDisplay h5, p, ul, li{
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	
	font-family: 'Rambla', sans-serif;
}

.scoreDisplay p {
	font-size: 20px;	
}

.scoreDisplay i {
	font-size: 40px;
}

.badgedisplay {
	width: 40px;
}

.icon {
	width: 30px;
}

.arrow {
	height: 35px;
	position: relative;
	right: 16px;
}

#engagementScoreDisplay h5, p{
	display: inline-block;
	vertical-align: middle;
}

#badgesBoardDisplay  li{
	display: inline-block;
}



