@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700);

@font-face {
    font-family: 'CodeProDemoRegular';
	src: local('CodeProDemoRegular') url('Code_Pro_Demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CodeProLightDemoRegular';
    src: local('CodeProLightDemoRegular') url('Code_Pro_Light_Demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #F7F7F9;
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}

a:hover {
	text-decoration: none;
}

.loading {
	width: 100%;
	text-align: center;
}

.loading img {
	margin: 10px;
}

header {
	background-color: silver;
	width: 100%;
	height: 40px;
	color: white;
}

.menu  {
	display: inline-block;
	padding-right: 10px;
}

#search {
	float: right;
	padding: 5px;
}

section, nav {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

#logo {
	margin: 5px 0 0 20px;
}
#logo a h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	color: rgba(74, 87, 85, 0.74);
	font-size: 40px;
	text-shadow: 3px -2px 1px #E6EBEC;
}

nav h3 {
	padding: 0;
	margin: 0;
}

section {
	color: #333;
}

#big-left-col {
	width: 300px;
	float: left;
}
#left-col {
	width: 300px;
	float: left;
}

#left-colbis {
	width: 300px;
	float: left;
}

#scores {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	width: 200px;
}

#right-col {
	width: 600px;
	float: right;
}

.block-like {
	margin: 5px;
}

.block {
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 5px;
	moz-border-radius : 5px;
	webkit-border-radius : 5px;
	padding: 5px;
}

#filters ul, #filters li {
	display: inline-block;
	list-style: none;
	padding: 0 5px;
}

.service {
	display: block;
	height: 80px;
	padding:5px;
	position: relative;
}

.service-block {
	height: inherit;
}

.service-block:hover {
	background-color: #EDECE9;
}

.sub-service {
	display: inline-block;
	padding: 5px;
	height: inherit;
	vertical-align: top;
}

.service-avatar {
	width: 64px;
}

.service-content {
	width: 325px;
}

.service-info {
	width: 110px;
	text-align: right;
	float: right;
}

#button-create {
	font-size:23px;
	text-shadow: #333 2px 2px;
	font-weight: light;
}
#small-me {
	padding: 9px;
}
#profileFullName h2.name {
	font-weight: bold;
}
.apply {
	position: absolute;
top: 12px;
right: 95px;
}
