<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Time Nuts - Time as a Service</title>

	<meta name="description" content="" />
	<meta name="keywords" content="Time, Service" />
	<meta name="author" content="jHackers" />
	<meta charset="Utf-8" />

	<!-- Style -->

	<script type="text/javascript" src="libs/jquery-1.8.2.js"></script> 
	<script type="text/javascript" src="libs/underscore.js"></script>
	<script type="text/javascript" src="libs/backbone.js"></script>
	<script type="text/javascript" src="libs/bootstrap.js"></script>	

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/DashBoardProfile.css" type="text/css" media="screen" />


	<link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
</head>
<body>
	<script type="text/template" id="tpl-menu">
			<nav><div id="logo"><a href="#"><h3>Time-Nuts</h3></a></div></nav><div id="content"></div>
	</script>

	<script type="text/template" id="tpl-feed-skeleton">
		<div id="left-col">
		</div>
		<div id="right-col">
			<div id="create" class="block">
				<button id="button-create" class="btn btn-success btn-block">Make a Request</button>
			</div>
			<div id="feed" class="block">
				<table class="table table-striped service-list" id="feed-table">
					<thead>
						<tr><ul id="filters">
							<li>
								Filters:
							</li>
							<li>
								<button class="btn">Friends</button>
							</li>
							<li>
								<button class="btn">Skills</button>
							</li>
							<li>
								<button class="btn">Geolocation</button>
							</li>
							<li>
								<button class="btn">Timing</button>
							</li>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</script>


	<script type="text/template" id="tpl-small-me">
		<img src="<%=Image %>?s=64" class="img-rounded"/>
		<span><a href="#!profile/me"><%= FirstName %> <%= LastName %></a>
		</span>
		<div id="scores">
			<ul>
				<li>
					<label>Credit: </label><span><%=TimeCredit %> hours</span> 
				</li>
				<li>
					<label>Involvment: </label><span><%=Involvement %></span>
				</li>
			</ul>
		</div>
	</script>


	<script type="text/template" id="tpl-service">
		<div class="sub-service service-avatar">
			<img src="<%=Requester.User.Image %>?s=64" class="img-rounded" /> 
		</div>
		<div class="sub-service service-content">
			<p class="service-title"><a href="#!/profile/<%= Requester.User.Id %>"><strong><%= Requester.User.FirstName %> <%= Requester.User.SurName %></strong></a>
				<%=Category %> > <%=Skill %></p>
				<small class="service-chapeau"><%= Title %></small>
			</div>
			<div class="sub-service service-info">
				<% if(Icons.Friends == "True") {%>
				<span>Friend</span>
				<%}%>
				<% if(Icons.FriendsOfFriends == "True") {%>
				<span>Friend of a Friend</span>
				<%}%>
				<% if(Icons.Geoloc == "True") {%>
				<span>Near you</span>
				<%}%>
				<% if(Icons.Time == "True") {%>
				<span>Urgent</span>
				<%}%>
			</div>
		</script>

	<script type="text/template" id="tpl-main-user-data">
			<div class="block profile-block">
		
				<div id="profilePic" class="pic img-rounded">
					<img src="<%=Image %>?s=128" />
				</div>
				
				<div id="profileText">
					<div id="profileFullName">
						<h2 id="profileFirstName"><%= FirstName %></h2>
						<h2 id="profileSurname"><%= LastName%></h2>
					</div>
					<p id="profileHeadLine">Hackathons rock !</p>
				</div>
				
				<div id="profileScoresContainer">
					<div id="timeCreditDisplay" class="scoreDisplay">
	<!-- 					<h5 id="timeCreditLabel">TIME:</h5> -->
						<span><img src="img/clock.png" class="icon" /><span>
						<span id="timeCredit"><%=TimeCredit %></span>
	<!-- 					<p id="timeCreditExpression">YOUPIII!!</p> A voir si on le fait -->
					</div>
					<div id="engagementScoreDisplay" class="scoreDisplay">
						<span><img src="img/engagement2hd.png" class="icon"/></span>
						<span id="engagementScore"><%=Involvement %></span>
						<span><h5 id="engagementScoreLabel">ENGAGEMENT</h5></span>
	<!-- 					<p id="engagementScoreExpression">Great Activity DUDE !!</p>  A voir si on le fait -->
					</div>
					<div id="badgesBoardDisplay" class="scoreDisplay">
						<ul id="badgesBoardList">
							<li id="badgeContainer">
								<img src="img/badge4.png" class="badgedisplay" />
							</li>
							<li id="badgeContainer">
								<img src="img/badge5.png" class="badgedisplay" />
							</li>
							<li id="badgeContainer">
								<img src="img/badge6.png" class="badgedisplay" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		
			<aside id="skillsContainer" class="block">
				<h5 class="container-title">SKILLS</h5>
				<div class="skill">
					<div class="sub-skill skillBadge">
						<img src="img/badge_gardening.png" />
					</div>
					<div class="sub-skill">
						<div class="skill-level"><strong>Expert</strong></div>
						<div class="skill-title"><strong>Jardinier</strong></div>
					</div>
					<div class="sub-skill skill-successStories">
						<div>
							<span>5</span>
							<img src="img/succesStory.png" class="metric-icon"/>
							<span>SuccessStories</span>
						</div>
						<div>
							<span>14</span>
							<img src="img/clock.png" class="metric-icon"/>
						</div>
					</div>
				</div>
				<div class="skill">
					<div class="sub-skill skillBadge">
						<img src="img/badge_chef.png" />
					</div>
					<div class="sub-skill">
						<div class="skill-level"><strong>MASTER</strong></div>
						<div class="skill-title"><strong>Chef</strong></div>
					</div>
					<div class="sub-skill skill-successStories">
						<div>
							<span>10</span>
							<img src="img/succesStory.png" class="metric-icon"/>
							<span>SuccessStories</span>
						</div>
						<div>
							<span>42</span>
							<img src="img/clock.png" class="metric-icon"/>
						</div>
					</div>
				</div>
				<div class="skill">
					<div class="sub-skill skillBadge">
						<img src="img/badge_bricoleur.png" />
					</div>
					<div class="sub-skill">
						<div class="skill-level"><strong>Apprenti</strong></div>
						<div class="skill-title"><strong>Bricoleur</strong></div>
					</div>
					<div class="sub-skill skill-successStories">
					<div>
							<span>3</span>
							<img src="img/clock.png" class="metric-icon"/>
						</div>
					</div>
				</div>
			</aside>
			
			<aside id="histories-container">
			<div id="servicesHistoryContainer" class="block history-container">
			<h5 class="container-title">SERVICES</h5>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td class="service">
							<div class="service-block">
								<div class="sub-service service-avatar">
									<img src="http://www.gravatar.com/avatar/bc22b26eca68dab55ec4fe491495951e?s=64" class="img-rounded" /> 
								</div>
								<div class="sub-service service-content">
									<p class="service-title"><strong>Adrian Gonzy</strong>
										Manual > Building</p>
										<small class="service-chapeau">Hey, I need someone to build a shelf in my place before my girlfriend comes back.</small>
									</div>
									<div class="sub-service service-info-small">
										<ul>
											<li>
												<img src="img/location.png"/>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="service">
							<div class="service-block">
								<div class="sub-service service-avatar">
									<img src="http://www.gravatar.com/avatar/49fffbbc22abf4b72e85a2ca85f3717b?s=128&d=identicon&r=PG" class="img-rounded" /> 
								</div>
								<div class="sub-service service-content">
									<p class="service-title"><strong>Gus Gus</strong>
										Consulting > technical</p>
										<small class="service-chapeau">Hi, I need help thinking about how to make a web site.</small>
									</div>
									<div class="sub-service service-info-small">
										<ul>
											<li>
												<img src="img/fof.png"/>
											</li>
											<li>
												<img src="img/alarm.png"/>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="service">
								<div class="service-block">
									<img src="" />
								</div>
							</td>
						</tr>
						<tr>
							<td class="service">
								<div class="service-block">
									<img src="" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
					
			<div id="requestHistoryContainer" class="block history-container">
			<h5 class="container-title">REQUESTS</h5>
				<table class="table table-striped">
				<tbody>
					<tr>
						<td class="service">
							<div class="service-block">
								<div class="sub-service service-avatar">
									<img src="http://www.gravatar.com/avatar/bc22b26eca68dab55ec4fe491495951e?s=64" class="img-rounded" /> 
								</div>
								<div class="sub-service service-content">
									<p class="service-title"><strong>Adrian Gonzy</strong>
										Manual > Building</p>
										<small class="service-chapeau">Hey, I need someone to build a shelf in my place before my girlfriend comes back.</small>
									</div>
									<div class="sub-service service-info-small">
										<ul>
											<li>
												<img src="img/location.png"/>
											</li>
											<li>
												<img src="img/alarm.png"/>
											</li>
											<li>
												<img src="img/friend.png"/>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
						<tr>
						<td class="service">
							<div class="service-block">
								<div class="sub-service service-avatar">
									<img src="http://www.gravatar.com/avatar/bc22b26eca68dab55ec4fe491495951e?s=64" class="img-rounded" /> 
								</div>
								<div class="sub-service service-content">
									<p class="service-title"><strong>Adrian Gonzy</strong>
										Manual > Building</p>
										<small class="service-chapeau">Hey, I need someone to build a shelf in my place before my girlfriend comes back.</small>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="service">
								<div class="service-block">
									<img src="" />
								</div>
							</td>
						</tr>
						<tr>
							<td class="service">
								<div class="service-block">
									<img src="" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>		
			</div>
		</aside>


	</script>

		<script type="text/javascript" src="js/models.js"></script>
		<script type="text/javascript" src="js/views.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
	</html>